@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
    --color-gray-100: #1F1D2F;
    --color-gray-200: #282639;
    --color-gray-300: #48465B;
    --color-gray-400: #636177;
    --color-gray-500: #9895B4;

    --color-primary-dark: #186A83;
    --color-primary-default: #3EBDE4;
    --color-primary-light: #A1E6FC;

    --color-feedback-negative: #E43E3E;
    --color-feedback-warning: #E4B63E;
    --color-feedback-success: #3EE48A;
    --color-feedback-infos: #5F3EE4;
}

@layer theme {
    .gray-100 { color: var(--color-gray-100); }
    .gray-200 { color: var(--color-gray-200); }
    .gray-300 { color: var(--color-gray-300); }
    .gray-400 { color: var(--color-gray-400); }
    .gray-500 { color: var(--color-gray-500); }

    .bg-primary-dark { background-color: var(--color-primary-dark); }
    .bg-primary-default { background-color: var(--color-primary-default); }
    .bg-primary-light { background-color: var(--color-primary-light); }

    .text-feedback-negative { color: var(--color-feedback-negative); }
    .text-feedback-warning { color: var(--color-feedback-warning); }
    .text-feedback-success { color: var(--color-feedback-success); }
    .text-feedback-infos { color: var(--color-feedback-infos); }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
